<app-titulo [titulo]="'Perfil'"></app-titulo>
<div class="card rounded shadow-sm">


    <div class="row p-3">
      <div class="col-md-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <!-- <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div> -->
          <div class="card-body">
            <div class="h4 text-center mb-3">{{usuario.perfilUsuario}}</div>
            <div class="h7 text-center text-bold pb-1"><b>Nome:</b> {{usuario.nome}} {{usuario.sobrenome}}</div>
            <!-- <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h7 text-muted" style="font-weight: 500;">Chamados em Atendimento</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h7 text-muted" style="font-weight: 500;">Chamados Concluídos</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-md-9">
        <tabset>
          <tab class="border border-top-0 p-3">
            <ng-template tabHeading>
              <i class="fa fa-address-card me-1"></i><span>Perfil</span>
            </ng-template>
            <app-perfil-detalhe (changeFormValue)="setFormValue($event)"></app-perfil-detalhe>
            </tab>
        <!-- <tab heading="Static Title 1">Static content 1</tab>
        <tab heading="Static Title 2">Static content 2</tab> -->
      </tabset>

    </div>
  </div>

</div>
